:host
  display: flex

.pattern, .output
  flex: 1
  margin: 0 15px

.prettyprint
  border: none

.box
  border-radius: 4px
  height: 650px
  overflow: auto
  background-color: #FFFFFF
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15)

  p
    margin: 0 0 15px 30px

button
  color: #525c65
  font-size: 13px
  border-radius: 2px
  cursor: pointer
  padding: 10px 40px
  border: none
  outline: none
  transition: all 0.3s ease
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15)

  &:hover
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2)
